@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #ffffff;
  color: #1A1A2E;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #F0F7FF;
}

::-webkit-scrollbar-thumb {
  background: #437FC7;
  border-radius: 10px;
}